/*************************************
Name: Roman Kyrzyk
Class: CMPT304
Description: Pacman but the pellets disappear and no ghosts
Last Modified: March 7, 2020
**************************************/
.pellets_text {
    font-size:30px;
    position: relative;
    z-index: 2;/*Is always on top of pieman*/
    top:-20px
}
#pelletsnum {
    top:0px/*Stays in position*/
}

#pacman {    
    width:40px;/*The character you use*/
    height:40px;
    position: absolute;
    
}
h1 {
    background-color: black;/*The pellets you eat*/
    width:16px;
    height:16px;
    position: absolute;
}
html { 
    overflow-y: hidden;/*To get rid of scrollbars*/
    overflow-x: hidden;
}